/* Header */
#header .logo {
    margin: 0;
    padding: 10px 10px;
    font-size: 30px;
    background-color: black;
}
#header .logo a{
    color: white;
    text-decoration: none;
}
#header{
    margin: 0;
    padding: 0;
}
/* Nav bar */
.navbar ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar{
    background-color: black;
    padding: 0;
}
.navbar ul > li{
    padding: 10px 0px;
}
.navbar a{
    font-weight: bold;
    color: rgba(207, 200, 200, 0.897);
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
}
body{
    background: linear-gradient(to left, #2C3E50, #FD746C);
}